.blog-post-listing-container {
    text-decoration: none;
    color: gainsboro;
    max-width: 100%;
    border-width: 4px;
    border-color:#e7ff6e;
    border-style:solid;
    margin: 2rem 1rem;
    padding:2rem;
}

.blog-post-listing-body {
    border-width: 4px;
    border-color:#e7ff6e;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
}

.tag-container {
    border: 2px solid #2F9A41;
    width:fit-content;
    padding:0.3rem 0.4rem;
    margin:0.3rem;
    font-size: .9rem;
}