{% macro render_blog_post_listing(post) %}
<div class="blog-post-listing-container-full">
    <div class="blog-post-listing-body">
        <div style="display:flex; flex-direction: column">
            <a href="{{post.path}}">
                <h3 style="color:#DCDCDC">
                    {% if post.subtitle %}
                    {{ post.title }}: {{ post.subtitle }}
                    {% else %}
                    {{ post.title }}
                    {% endif %}
                </h3>
            </a>
            <div>
                <p style="margin-top: 1.5rem">{{post.author}} -  {{post.pub_date}}</p>
            </div>
        </div>
        <div style="margin-top:1rem;display: flex">
            {% if post.thumbnail %}
            {% set thumbnail_url = post.path ~ "/" ~ post.thumbnail %}
            <img src="{{ thumbnail_url|url }}" style="max-width:100%; max-height: 200px;margin-left: auto; margin-right: auto">
            {% elif site.get("/blog").page_thumb %}
            {% set thumbnail_url =site.get("/blog").path ~ "/" ~ site.get("/blog").page_thumb %}
            <img src="{{ thumbnail_url|url }}" style="max-width:100%; max-height: 200px;margin-left: auto; margin-right: auto">
            {% endif %}
        </div>
    </div>
    <div>

    </div>
    {% if post.tags %}
    <div class="full-width flex">
        {% for tag in post.tags -%}
        <div class="tag-container">
            <a href="{{ ('/blog@tag/' ~ tag)|url }}">
                {{tag}}
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}
