<head>
  {% block head %}
    <link rel="stylesheet" href="{{ '/static/css/terminal.css'|asseturl }}" type="text/css" media="all">
    <title>{% block meta_title %}{% endblock %}</title>
    <!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
    <!--[if IE]><link rel="shortcut icon" href="{{ '/static/images/favicons/favicon.ico'|asseturl }}"><![endif]-->

    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon-precomposed" href="{{ '/static/images/favicons/apple-touch-icon-precomposed.png'|asseturl }}">

    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
    <link rel="icon" href="{{ '/static/images/favicons/favicon.png'|asseturl }}">

    <meta charset="UTF-8">
    <meta name="description" content="{{ this.meta_description or this._slug }}">
    <meta name="keywords" content="{{ this.meta_keywords or this._slug }}">
    {# TODO: enable something like the following by testing for these filters first #}
    {# can do after https://github.com/pallets/jinja/issues/842 #}
    {#{% if (striphtmltags is defined) and (firstsentence is defined) %}
      <meta name="description" content="{{ this.meta_description or this.body|striphtmltags|firstsentence or this._slug }}">
    {% endif %}
    {% if (striphtmltags is defined) and (keywords is defined) %}
      <meta name="keywords" content="{{ this.meta_keywords or this.body|striphtmltags|keywords|join(', ') or this._slug }}">
    {% endif %}#}


    {% block header_scripts %}
      <!-- JQuery -->
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

      <!-- Google Analytics -->
      {% if config.THEME_SETTINGS.googleanalytics %}
        <script>
          var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
          if (dnt != "1" && dnt != "yes") {
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', '{{ config.THEME_SETTINGS.googleanalytics }}', 'auto');
            ga('set', 'anonymizeIp', true);
            ga('set', 'forceSSL', true);
            ga('send', 'pageview');
          } else {
            console.debug("Respecting Do-Not-Track, not running analytics.");
          }
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
      {% endif %}
    {% endblock header_scripts %}
  {% endblock head %}
</head>
