<div class="social_box green_border">
  {% if config.THEME_SETTINGS.sticky_flat_page %}
    <div class="logo_box">
      <a draggable="false" href="/{{ config.THEME_SETTINGS.sticky_flat_page|slug }}">
        {{ config.THEME_SETTINGS.sticky_flat_page }}
      </a>
    </div>
  {% endif %}
  {% if config.THEME_SETTINGS.linkedInURL %}
    <div class="logo_box">
      <a href="{{ config.THEME_SETTINGS.linkedInURL }}" target="_blank">in</a>
    </div>
  {% endif %}
  {% if config.THEME_SETTINGS.twitterID %}
    <div class="logo_box">
      <a href="https://twitter.com/{{ config.THEME_SETTINGS.twitterID }}" target="_blank">t</a>
    </div>
  {% endif %}
  {% if config.THEME_SETTINGS.pinterestID %}
    <div class="logo_box">
      <a href="https://www.pinterest.com/{{ config.THEME_SETTINGS.pinterestID }}" target="_blank">p</a>
    </div>
  {% endif %}
  {% if config.THEME_SETTINGS.behanceID %}
    <div class="logo_box">
      <a href="https://www.behance.net/{{ config.THEME_SETTINGS.behanceID }}" target="_blank">b</a>
    </div>
  {% endif %}
  {% if config.THEME_SETTINGS.facebookID %}
    <div class="logo_box">
      <a href="https://www.facebook.com/{{ config.THEME_SETTINGS.facebookID }}" target="_blank">f</a>
    </div>
  {% endif %}
</div>
