{# needs to be included `with width = ` #}

{% for subnav_item in this.SubNav.blocks %} {# finds all blocks in SubNav model #}
  <div>
    {% if not loop.index == 1 %}
      <div class="item_spacing"></div>
    {% endif %}

    {% set img = subnav_item.images.blocks[0] %}
    {% set thumb = this.record.attachments.images.get(img.image) %}
    <div class="item_image">
      {% if thumb.format == 'svg' or thumb.width >= width %}
        {% set thumb = thumb.thumbnail(width) %}
      {% endif %}

      {% set style_beginning = ' style="width: '|safe ~ width|string ~ 'px;'|safe %}
      {% if img.background_color %}
        {% if img.padding %}
          {% set img_style = style_beginning ~ ' background-color: '|safe
          ~ img.background_color
          ~ "; padding: "
          ~ img.padding
          ~ ';"'|safe %}
        {% else %}
          {% set img_style = style_beginning ~ ' background-color: '|safe
          ~ img.background_color
          ~ ';"'|safe %}
        {% endif %}
      {% else %}
        {% if img.padding %}
          {% set img_style = style_beginning ~ ' padding: '|safe
          ~ img.padding
          ~ ';"'|safe %}
        {% else %}
          {% set img_style = style_beginning ~ '"'|safe %}
        {% endif %}
      {% endif %}

      {% if img.title %}
        {% set img_title = ' title="'|safe ~ img.title ~ '"'|safe %}
      {% else %}
        {% set img_title = "" %}
      {% endif %}

      <img src="{{ thumb|url }}"{{ img_title }}{{ img_style }}>
    </div>
    <div class="item_text" style="width: {{ (900 - width)|string }}px;">
      {{ subnav_item.body }}
    </div>
  </div>
{% endfor %}
