{% extends "page.html" %}

{% from "macros/blog.html" import render_blog_post %}
{% from "macros/blog.html" import render_blog_sibling_nav %}
{% from "macros/render_blog_post_listing.html" import render_blog_post_listing %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
  <div class="content_box">
    {% if config.PACKAGES['lektor-atom'] %}
      <div id='rss-link'><p><a type=application/atom+xml href="{{ '@atom/feed'|url }}">Atom RSS Feed</a></p></div>
    {% endif %}
    <div ><p><a href="{{ '/tags/'|url }}">See All Tags</a></p></div>
    {{ this.body }}
    <div class="blog-listing-container">
      {% for child in this.pagination.items.order_by('-pub_date', '-title') %}
      {{ render_blog_post_listing(child)}}
      {% endfor %}
    </div>

    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}
  </div>
{% endblock content %}
